{% extends "layout.html" %}
{% block content %}
	<div class = "content-section">
		<h3> Home Page </h3>
		<p>Scantegrity is a security enhancement for optical 
		scan voting systems, providing such systems with end-to-end 
		(E2E) verifiability of election results. It uses confirmation 
		codes to allow a voter to prove to themselves that their ballot 
		is included unmodified in the final tally. The codes are privacy-preserving 
		and offer no proof of which candidate a voter voted for. Receipts can be safely 
		shown without compromising ballot secrecy.</p>
	</div>
	{% for post in posts %}
		<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file)}}">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="#">{{ post.author.username }}</a>
				<small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
			</div>
			<h2><a class="article-title" href="#">{{ post.title }}</a></h2>
			<p class="article-content">{{ post.content }}</p>
		</div>
		</article>
    {% endfor %}
{% endblock content %}
