{% extends "layout.html" %}
{% block content %}
	<div class = "content-section">
		<h3> Home Page </h3>
		<p>Scantegrity is a security enhancement for optical 
		scan voting systems, providing such systems with end-to-end 
		(E2E) verifiability of election results. It uses confirmation 
		codes to allow a voter to prove to themselves that their ballot 
		is included unmodified in the final tally. The codes are privacy-preserving 
		and offer no proof of which candidate a voter voted for. Receipts can be safely 
		shown without compromising ballot secrecy.</p>
	</div>
{% endblock content %}
